<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>User Registration</title>
</head>
<body>
  <%-include('partials/_header')%>

  <table>
    <thead>
      <h3>New User</h3>
    </thead>
    <form action="/register" method="POST">
      <div>
        <label for="email">Email Address: </label>
        <input name="email" type="email" id="" placeholder="example@example.com">
      </div>
      <div>
        <label for="password">Password :</label>
        <input name="password" type="password" name="" id="" placeholder="Password">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>

    </form>
  </table>
  
  
</body>
</html>